{% extends 'base.html' %}

{% block content %}

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Home</h2>
        <p>สินเชื่อบ้าน คืออะไร ? มันก็คือเงินกู้ชนิดหนึ่งที่ทำการกู้ยืมมาจากธนาคารใดธนาคารหนึ่งในระยะยาว เพื่อนำมาสร้างหรือซื้อบ้านที่เราต้องการ และหมายรวมถึง คอนโด อาคารพาณิชย์ ทาวโฮม และทาวเฮาท์ด้วย โดยผู้กู้จะต้องนำที่อยู่อาศัยนั้นแหละเป็นสิ่งค้ำประกันการจำนอง หรือหากคุณมีสินเชื่อบ้านอยู่แล้วแต่อยากเปลี่ยนสถาบันการเงินใหม่ที่มีข้อเสนอที่ดีกว่า คุณก็สามารถทำการไถ่ถอนสินเชื่อเดิมที่มีอยู่และมาเข้ากับธนาคารใหม่ได้ เรียกวิธีการนี้ว่า “รีไฟแนนซ์บ้าน” และหากคุณสนใจจะทำการกู้สินเชื่อบ้านและที่อยู่อาศัย สิ่งที่คุณต้องทำมีดังนี้</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Car</h2>
        <p>สินเชื่อเช่าซื้อรถยนต์ หมายถึง การทำสัญญาซื้อ-ขาย ระหว่างคุณกับบริษัทจำหน่ายรถยนต์ โดยทำสัญญาเช่าซื้อผ่านคนกลาง คือสถาบันการเงินต่างๆ โดยทางสถาบันการเงินนั้นๆจะชำระค่ารถยนต์เต็มจำนวนแทนคุณ หลังจากนั้นคุณก็ทำสัญญาตกลงผ่อนจ่ายเป็นรายเดือนกับสถาบันการเงินหรือบริษัทสินเชื่อเหล่านั้นแทน</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Apply for a personal loan</h2>
        <p>สินเชื่อส่วนบุคคล เป็นสินเชื่อที่ผู้ขอ จะสามารถได้รับเงินเป็นก้อนมาเพื่อที่จะเอาไปใช้จ่ายในเรื่องต่างๆ ตามความเหมาะสมของผู้ขอ โดยจำนวนเงินที่ขอสินเชื่อนั้นจะได้เงินอยู่ที่ประมาณ 5 เท่าของเงินเดือน ข้อดีของการขอ สินเชื่อส่วนบุคคล ก็คือผู้ขอสินเชื่อ ไม่จำเป็นต้องมีบุคคลเข้ามาค้ำประกันหรือนำหลักทรัพย์มาค้ำประกันอีกด้วย ซึ่งสินเชื่อส่วนบุคคล เป็นสินเชื่อที่สามารถกำหนดระยะเวลากู้ได้แน่นอน ด้วยอัตราดอกเบี้ยที่คงตัว และการชำระเงินรายเดือนที่เท่าๆกัน  ซึ่งการกู้นี้อาจจะได้เป็นเงินสดหรือไม่ใช่ก็ได้ หรืออาจจะเป็นสิ่งของที่มีความจำเป็นต้องใช้โดยตรง อย่างการซื้อสินค้าด้วยบัตรผ่อนสินค้าที่มีอัตราดอกเบี้ยสูง</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>
    
{% endblock content %}